.infobox {
  position: absolute;
  top: 0;
  left: 0;
  grid-area: infobox;
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.infobox__imgbox {
  width: 100%;
}

.infobox__img {
  max-width: 100%;
}
